:root {
  --color1: #049cd8;
  --color2: #e52521;
  --color3: #fff;
  --color5: #232323;
  --color6: #0058f8;
  --color7: #fbd000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", "sans-serif";
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
/* font */
@font-face {
  font-family: "roboto";
  src: url("../assets/font/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../assets/font/roboto/Roboto-Bold.ttf");
}
/* Navbar */
nav div {
  padding-top: 150px;
  width: 88px;
  height: 100vh;
  background-color: var(--color2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.342) 5px 5px 30px;
  transition: 0.5s ease-in;
}
.burgerImg,
.crossImg {
  color: var(--color3);
  font-size: 3em;
  position: fixed;
  top: 20px;
  left: 24px;
  z-index: 1000;
}
.crossImg {
  opacity: 0;
}
nav input {
  position: fixed;
  top: 14px;
  left: 10px;
  width: 60px;
  height: 60px;
  z-index: 1001;
  opacity: 0;
}
.navContent {
  height: 100%;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  min-height: 400px;
  list-style: none;
}
nav span {
  opacity: 0;
  height: fit-content;
  margin-left: 20px;
  font-size: 2em;
  transition: 0.5s ease-in;
  transform: translateX(-200%);
}
nav a {
  width: 100%;
  height: 100px;
  color: var(--color3);
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color3);
}
.navIcon {
  margin-left: 20px;
  text-align: center;
  font-size: 3em;
  color: var(--color3);
}
.navActive {
  color: var(--color7);
}
/* Nav animation */
nav div:hover {
  width: 300px;
  cursor: pointer;
}
nav:hover span {
  opacity: 1;
  transform: translateX(0);
}
nav input:hover ~ div {
  width: 300px;
  cursor: pointer;
}
nav input:hover {
  cursor: pointer;
}
nav a:hover,
nav a:hover i {
  transform: scale(0.98);
  color: var(--color7);
}
nav input:checked ~ div {
  width: 300px;
}
nav input:checked ~ div span {
  opacity: 1;
  transform: translateX(0);
}
nav input:checked ~ div span:hover {
  transform: scale(0.9);
}
nav input:checked ~ .burgerImg {
  opacity: 0;
}
nav input:checked ~ .crossImg {
  opacity: 1;
}
nav input:hover ~ .burgerImg,
nav input:hover ~ .crossImg {
  transform: scale(0.9);
}
/*******************************************************/
/******************** HOME PAGE ************************/
/*******************************************************/

/********************************************** header */
header {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: var(--color1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#headerContent {
  height: 400px;
  color: var(--color3);
  z-index: 5;
  transform: translate(25%, -10%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
header h1 {
  font-size: 4rem;
}
header h2 {
  font-size: 2.5rem;
}
.nintendoBtn {
  font-family: "roboto-bold";
  display: block;
  width: 440px;
  height: 100px;
  font-size: 2rem;
  color: var(--color2);
  background-color: var(--color3);
  border-radius: 50px;
  border: 13px solid var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.nintendoBtn:hover {
  transform: scale(0.95);
}
#nintendoLogo {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
#nintendoLogo img {
  width: 20%;
  margin-right: 8%;
  margin-top: 1%;
}
#marioImg {
  width: 30%;
  position: absolute;
  bottom: 15%;
  left: 8%;
}
#marioImg img {
  width: 100%;
}
#cloudImg {
  width: 50%;
  position: absolute;
  top: 1%;
  left: 3%;
}
#cloudImg img {
  width: 100%;
}
/***************************************************** home section */
section {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: var(--color5);
  position: relative;
  color: var(--color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionContent {
  width: 80%;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}
.sectionImg img {
  width: 100%;
  margin-top: 100px;
}
.sectionText {
  line-height: 3rem;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sectionText h2 {
  font-size: 3rem;
  margin: 40px 0;
}
.sectionText p {
  font-size: 1.5rem;
  margin: 40px 0 100px;
}
.ceilingImg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.ceilingImg img {
  width: 100%;
  transform: translateY(-50%);
}
.groundImg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.groundImg img {
  width: 100%;
  transform: translateY(50%);
}
.chevronA {
  display: block;
  height: 100px;
  width: 100px;
  margin: 25px 0 100px 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.chevronDown {
  color: var(--color3);
  font-size: 4rem;
}
/***************************************************** home history */
#homeHistory {
  background-color: var(--color5);
}
/***************************************************** home museum */
#museum {
  background-color: var(--color6);
}
#museumImg {
  margin-top: 0;
}
#museumImg img {
  max-width: 400px;
}
/***************************************************** home collection */
#homeCollection {
  background-color: var(--color1);
}
#homeCollectionImg {
  max-width: 400px;
}
/***************************************************** hours and price */
.informationsContent {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr 2fr;
  grid-template-areas: 
    "informationsTitle"
    "informationsHours"
    "informationsPrices"
  ;
}
.informationsTitle {
  background: blueviolet;
  grid-area: informationsTitle;
}
.informationsHours {
  height: 200px;
  background: #e52521;
  grid-area: informationsHours;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "leftH rightH"
;
}
.informationsPrices {
  background: #fbd000;
  grid-area: informationsPrices;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "leftP rightP"
;
}
.informationsHoursLeft,
.informationsHoursRight,
.informationsPricesLeft,
.informationsPricesRight {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: auto;
}
.informationsHoursLeft h3,
.informationsHoursRight h3,
.informationsPricesLeft h3 {
  margin: 30px 0;
}
.informationsHoursRight h3 {
  text-align: center;
}
.informationsHoursLeft {
  grid-area: leftH;
}
.informationsHoursRight {
  grid-area: rightH;
  align-items: center;
  justify-content: space-around;
}
.opening {
  text-align: center;
  margin: 20px 0;
}
.informationsPricesLeft {
  grid-area: leftP;
}
.informationsPricesRight {
  grid-area: rightP;
}
/*******************************************************/
/******************** MEDIA ****************************/
/*******************************************************/

/* 1360px  */

@media screen and (max-width: 1360px) {
  /*******************************************************/
  /******************** HOME PAGE ************************/
  /*******************************************************/
  /* header */
  #marioImg {
    width: 20%;
    bottom: 5%;
    left: 10%;
  }
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  .nintendoBtn {
    font-size: 1.5rem;
    width: 340px;
    height: 75px;
  }
  /* history */
  .sectionImg img {
    margin-top: 0;
  }
}

/* 1024px */

@media screen and (max-width: 1024px) {
  /*******************************************************/
  /******************** NAV ******************************/
  /*******************************************************/
  /* nav */
  nav div {
    transform: translateX(-100%);
  }
  nav input:checked ~ div {
    transform: translateX(0);
    width: 300px;
  }
  /*******************************************************/
  /******************** HOME PAGE ************************/
  /*******************************************************/
  /* header  */
  #nintendoLogo img {
    width: 30%;
  }
  #cloudImg {
    width: 60%;
    top: 5%;
    left: 3%;
  }
  #headerContent {
    transform: translate(0, 0);
  }
  /* history */
  .sectionContent {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
  }
  .sectionImg {
    margin: 100px 0 40px 0;
  }
  .sectionText {
    width: 80%;
    text-align: center;
  }
  .sectionText .nintendoBtn {
    margin: auto;
  }
}

/* 680px */

@media screen and (max-width: 680px) {
  /* header */
  #headerContent {
    height: 300px;
    align-items: center;
  }
  header h1 {
    font-size: 1.5rem;
  }
  header h2 {
    font-size: 1rem;
  }
  .nintendoBtn {
    font-size: 1.1rem;
    width: 300px;
    height: 60px;
    border: 9px solid var(--color2);
  }
}
